<div class="main_page">
  <div class="main__container">
    <div class="poster-container">
      <div id="main__poster">
        <div class = "movie_poster__wrapper">
            <div class="image_container">
            <img src="https://ru-images.kinorium.com/movie/600/2231559.jpg?1616688978" height = "426">
            </div>
            <div class="collectionWidget">
              <div class="collectionWidget__buttons-wrap">
                <button class="head">
                  <span class="">
                  Добавить в список
                  </span>
                </button>
                <button class="favourites ">
                  <span class="like">
                  </span>
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="information-container">
      <section class="information">
        <div class="container film-page">
          <ul class="tabs_subpage">
            <li> <a class="tabs-subpage__item activtabs">Фильм</a></li>
            <li> <a class="tabs-subpage__item activtabs">Актеры</a></li>
            <li> <a class="tabs-subpage__item activtabs">Кадры</a></li>
            <li> <a class="tabs-subpage__item activtabs">Факты</a></li>
          </ul>
          <div class="film-page__title">
            <div class="film-page__title-elements">
                <h1>Гнев Человеческий (2021)</h1>
            </div>
          </div>
          <div class="film-page__infowrap">
            <table class="infotable">
              <tbody>
              <tr>
                <td class="legend">Страна </td>
                <td class="data"> США </td>
              </tr>
              <tr>
                <td class="legend">Длительность  </td>
                <td class="data">1 ч 58 мин </td>
              </tr>
              <tr>
                <td class="legend">премьера: Мир</td>
                <td class="data"> 4 марта 2021 </td>
              </tr>
              <tr>
                <td class="legend"> премьера: США	</td>
                <td class="data"> 7 мая 2021  </td>
              </tr>
              <tr>
                <td class="legend"> премьера: РФ	</td>
                <td class="data"> 22 апреля 2021  </td>
              </tr>
              <tr>
                <td class="legend"> другие названия	</td>
                <td class="data"> Cash Truck (Великобритания) </td>
              </tr>

              </tbody>

            </table>

          </div>
          <div class="film-page-buttons-wrapper">
            <ul class="film-page__genres genres">
              <li>
                <a>
                  Боевик
                </a>
              </li>
              <li>
                <a>
                  Фильм
                </a>
              </li>
              <li>
                <a>
                  Триллер
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
